/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Encabezado */
.header {
  background-color: #007b8f;
  color: white;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #f4f7f8;
}

/* Sección informativa */
.info {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info h2 {
  color: #007b8f;
  margin-bottom: 1rem;
  text-align: center;
}

/* Formulario */
.formulario {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

form ul {
  list-style: none;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  padding: 4px;
  text-align: justify;
  margin-top: 20px;

}

input,
textarea {
  font-size: 1em;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

textarea {
  resize: vertical;
  height: 5em;
}

.button {
  text-align: center;
  margin-top: 1em;
}

button {
  background-color: #007b8f;
  color: white;
  border: none;
  padding: 0.7em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005f6b;
}

.titulo-invitados {
  padding: 30px;
  color: #007b8f;
  text-align: center;
  font-size:30px;
}

.invitados {
  margin-left: 35px;
  margin-right: 10px;
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 95%;
  text-align: center;
  

}
.invitados img{
  padding: 20px;
  border-radius: 50%;
  width: 290px;
  height:360px;

}

.invitados h3{
  color: #007b8f;
  font-size: 27px;
 }

.invitados p{
  grid-column: 1/2;
  font-size: 18px;
}



/* Footer */
footer {
  text-align: center;
  background-color: #003f46;
  color: white;
  padding: 15px;
  font-size: 0.9em;
  margin-top: 20px;
}

footer p{
  text-align: center;
}

p{
  text-align: justify;
  padding: 10px;
}

.galeria{
  display: flex;
  width: 1000px;
  height: 430px;
  margin-left: 200px;
  margin-top: 20px;
}
.galeria img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: .5s ease;
  border-radius: 5px;
}

.galeria img:hover{
  cursor: crosshair;
  width: 400px;
  opacity: 1;
  filter: contrast(120%);
}

@media (max-width:500px){
  
  .info {
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 97%;
  font-size: 17px;
}

/* Encabezado */
.header {
  background-color: #007b8f;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* Formulario */
.formulario {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 97%;
  
}
h2{
  
  padding: 15px;
;
}
ul{
  padding: 3px;
}


.galeria{
  display: none;
}


.invitados {
  margin-left: 0px;
  display: grid;
  grid-template-columns:1fr;
  gap: 2rem;
}

  

}